body{
  width: 100%;
  height: 100vh;
  background: black;
}

/* @media screen and  */

.App{
  width: 100%;
  height: 100vh;
  /* background-image: url('./OSIRIS_Mars_true_color.jpg'); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 140%;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.bg-div{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.bg{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url('./OSIRIS_Mars_true_color.jpg');
  /* background-size: 50%; */
  background-repeat: no-repeat;
  background-size: 200%;
  background-position-x: -50vw;
  background-position-y: -110vw;
  
  
}

.title-div{
  text-align: center;
  color: black;
  /* height: 50vh; */
}

.title{
  font-size: 8rem;
  /* font-weight: 550; */
}

.subtitle{
  font-size: 4rem;
}

.data{
  display: flex;
  justify-content: center;
  height: 35vh;
  width: 80%;
}

.data-list{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 45vh;
}

.data-list h3 {
  border: 1px solid white;
  background: rgba(181, 163, 123, 0.795);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1%;
  width: 90%;
  /* height: 40%; */

}

.data-title{
  font-size: 1.2rem;

}

.data-item{
  font-size: 1.1rem;
}

footer{
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  text-align: center;
  width: 98%;
  padding-bottom: 2%;
  padding-left: 2%;
  /* height: 25vh; */
}

footer a{
  color: white
}

@media screen and (min-width: 360px){
  .data{
    height: 33vh;
  }
}


@media screen and (min-width: 410px){
  .data{
    height: 29vh;
  }
}

@media screen and (min-width: 560px) and (min-height: 300px){

.title{
  font-size: 5rem;
}
.subtitle{
  font-size: 3rem;
}

.data{
  height: 45vh;
}

  .data-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  }

  .data-title{
    font-size: .9rem;
  }

  .data-item{
    font-size: .8rem;
  }

}

@media screen and (min-height: 800px) and (min-width: 370px){
  
  .bg{
    background-position-y: -50vh;
  }
  
  .data{
    height: 40vh;
  }
  
  .data-list{
    height: 52vh;
  }
}
@media screen and (min-height: 800px) and (min-width: 410px){
  
  .bg{
    /* background-position-y: -50000%; */
  }
  
  .data{
    height: 30vh;
  }
  .data-list{
    height: 45vh;
  }
}

@media screen and (min-width: 760px){

  .bg{
    background-position-y: -25vh
  }

  .title-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
  }

  .title{
    font-size: 12rem;
  }

  .subtitle{
    font-size: 5rem;
  }

  .data{
    height: 45vh;
    width: 90%;
  }

  .data-list{
    height: 40vh;
  }

  .data-title{
    font-size: 1.3rem;
  }

  .data-item{
    font-size: 1.1rem;
  }

  footer{
    font-size: 1.5rem;
  }
  
}

@media screen and (min-height: 360px) and (min-width: 800px){

  .bg{
    background-position-y: -50vh;
  }
  
  .title{
    font-size: 5rem;
  }
  .subtitle{
    font-size: 3rem;
  }
  
  .data{
    height: 45vh;
  }
  
    .data-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    }
  
    .data-title{
      font-size: .9rem;
    }
  
    .data-item{
      font-size: .8rem;
    }
}

@media screen and (min-width: 1000px) {
  .title{
    font-size: 9rem;
  }
  .subtitle{
    font-size: 5rem;
  }
  .data{
    width: 95%;
    align-items: center;
  }
  .data-list{
    flex-wrap: nowrap;
    height: 35vh;
  }

  .data-title{
    font-size: 1.7rem;
  }
  .data-item{
    font-size: 1.8rem;
  }
}

@media screen and (min-height: 800px) and (min-width: 990px) {
  .title{
    font-size: 14rem;
  }
  
  .subtitle{
    /* font-size: 12rem; */
    font-size: 6rem;
  }
}

@media screen and (min-width: 1500px) {
  .bg{
    background-position-y: -35vh;
  }
  .title{
    font-size: 13rem;
  }
  .subtitle{
    font-size: 4rem;
  }
  .data-title{
    font-size: 1.5rem;
  }
  .data-item{
    font-size: 1.6rem;
  }
}


